<template>
  <Page title="VGang Task" padding="8">
    <Card background="surface" padding="5">
      <CardSection>
        <Title text="Multi Select Dropdown with Polaris"> </Title>
      </CardSection>
      <CardSection>
        <Selector
          :min="1"
          :max="3"
          :options="options"
          title="selector options"
          @onSetSelectedOptions="(data) => (selectedOptions = data)"
          @onLogSelectedOptions="
            () => console.log('Selected Options', selectedOptions)
          "
        ></Selector>
      </CardSection>
    </Card>
  </Page>
</template>

<script>
import Selector from "@/components/Selector.vue";
import Title from "@/components/Title.vue";
import { CardHeader, CardSection } from "@ownego/polaris-vue";

export default {
  name: "HomeView",
  data() {
    return {
      options: [
        { label: "Today", value: "today" },
        { label: "Yesterday", value: "yesterday" },
        { label: "Last 7 days", value: "lastWeek" },
        { id: "hint", label: "Option with icon", value: "hint" },
        { label: "Option disabled", value: "disabled" },
      ],
      selectedOptions: [],
    };
  },

  components: { Selector, Title, CardHeader, CardSection },
};
</script>
