<template lang="">
  <Popover
    :active="popoverActive"
    @close="clickOutsidePopover"
    autofocusTarget="first-node"
    ariaHaspopup="true"
  >
    <template #activator>
      <Button :disclosure="true" @click="togglePopoverActive">
        {{ title || "Options" }}
      </Button>
    </template>

    <template #content>
      <OptionList
        v-model="selectedValues"
        allow-multiple
        :options="options"
        @change="changeSelectedValue"
      />
    </template>
  </Popover>
</template>
<script>
export default {
  props: ["options", "title", "min", "max"],
  data() {
    return {
      popoverActive: false,
      selectedValues: [],
    };
  },

  methods: {
    togglePopoverActive() {
      this.popoverActive = !this.popoverActive;
    },
    clickOutsidePopover() {
      if (this.selectedValues.length > this.min) {
        this.popoverActive = false;
        this.$emit("onLogSelectedOptions");
      } else {
        alert("Your selected options are less than Minimum");
      }
    },
    changeSelectedValue(data) {
      this.$emit("onSetSelectedOptions", this.selectedValues);
    },
  },
};
</script>
<style></style>
